@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --bg-color1: #000000;
  --bg-color2: #a30f19;
  --bg-color3: #eceaea;
  --bg-color4: #680c13;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2), rgba(17, 17, 17, 0.4)),
    black;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.container:after {
  content: "";
  position: absolute;
  background-color: var(--bg-color4);
  background: radial-gradient(circle, rgba(100, 11, 11, 0.9), rgba(0, 0, 0, 0.7));
  height: 95px;
  width: 100%;
  left: 0;
  top: 40%;
  z-index: 1;
}
/* Nav Bar */
.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .logo {
  position: relative;
  max-width: 120px;
}

.nav .navlinks {
  position: relative;
  display: flex;
}

.nav li {
  margin: 0 40px;
  list-style: none;
}

.nav li a {
  position: relative;
  text-decoration: none;
  color: var(--bg-color3);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: ease 1ms;
  padding: 0 5px;
}

.nav li a:after {
  content: "";
  position: absolute;
  background-color: var(--bg-color3);
  height: 4px;
  width: 0;
  left: 0;
  bottom: -10px;
  display: flex;
  border-radius:10px;
  margin-top: -10px;
  margin-left: 20%;
}

.nav li a:hover:after {
  width: 50%;
}

.nav li a.active:after {
  width: 50%;
}

/* Jumbotron */
.content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.content .jumbo {
  position: relative;
  max-width: 600px;
  margin-left: -290px;
}

.content .jumbo h1 {
  color: var(--bg-color3);
  font-size: 4.7em;
  line-height: 1.2em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 65px;
  margin-bottom: 50px;
}

.content .jumbo h1 span {
  font-size: 1.9em;
  letter-spacing: -1px;
}

.content p {
  color: var(--bg-color3);
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 20px;
  margin-left: 20px;
  letter-spacing: 1.4px;
  line-height: 20px;
}

.content p span {
  color: var(--bg-color2);
  font-weight: 700;
  font-size: 13px;
}

.content .imgBox {
  width: 600px;
  display: flex;
  padding-left: 38px;
}

.content .imgBox img {
  z-index: 2;
  max-width: 300px;
  transform: rotate(-1deg);
}

.content .imgBox:after {
  content: "";
  position: relative;
  background-color: var(--bg-color1);
  height: 350px;
  width:8%;
  left:10%;
  top: 50%;
  filter: blur(20px);
  transform: rotate(-1deg);
  margin-left: -100px;
  margin-top: 30px;
  z-index: 1;
}

/* Button */
.content .jumbo a {
  display: inline-block;
  text-align: center;
  background-color: var(--bg-color4);
  color: var(--bg-color3);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 25px;
  border-radius: 50px;
  transition: all 0.5s;
  width: 170px;
  margin-left: 330px;
}

.content .jumbo a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.content .jumbo a span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.content .jumbo a:hover {
  background-color: var(--bg-color3);
  color: var(--bg-color2);
}

.content .jumbo a:hover span {
  padding-right: 25px;
}

.content .jumbo a:hover span:after {
  opacity: 1;
  right: 0;
}

/* Thumbnail */
.thumb {
  position: absolute;
  left: 50%;
  display: flex;
  transform: translateX(-30%);
  bottom: 30px;
  z-index: 4;
}

.thumb li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover{
  transform: translateY(-8px);
} 

.thumb li span{
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #eceaea;
  border-radius: 10px;
  z-index: 6;

}

.thumb li span:hover{
  background-color: var(--bg-color2);
}

.thumb li:nth-child(1) span {
  background-color: var(--bg-color2);
}
